{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>snippets</title>
    <script type = "text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <div id = "snippet"></div>
    <script src="{% static 'dynamic.js' %}"></script>
</body>
</html>
