{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts%}
    <div class="center">
        <img src="{{ post.author.profile.image.url }}" height="142" width="142">
        <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
        <p>{{ post.content  }}</p>
        <p>By {{ post.author  }} on {{ post.date_posted  }}</p>
     </div>
    {% endfor %}
{% endblock content %}
