{% extends "blog/base.html" %}

{% block content %}
     <div>
         <form method = "POST">
             {% csrf_token %}
             <fieldset>
                 <legend>Delete Post</legend>
                 <h5>Are you sure you want to delete the post "{{ object.title }}"</h5>
             </fieldset>
             <div>
                 <button type="submit">Yes, Delete</button>
                 <a href = "{% url 'post-detail' object.id %}">Cancel</a>
             </div>
         </form>
     </div>
{% endblock content %}








