{% extends "blog/base.html" %}
{% block content %}
        <img src="{{ object.author.profile.image.url }}" height="142" width="142">
        <h3>{{ object.title }}</h3>
        <p>{{ object.content  }}</p>
        <p>By {{ object.author  }} on {{ object.date_posted  }}</p>
        {% if object.author == user %}
            <a href="{% url 'post-update' object.id %}">Update</a>
            <a href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
{% endblock content %}
