{% extends "blog/base.html" %}

{% block content %}
     <div>
         <form method = "POST">
             {% csrf_token %}
             <fieldset>
                 <legend >Login</legend>
                 {{ form.as_p }}
             </fieldset>
             <div>
                 <button type="submit">Login</button>
                <small>
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
             </div>
         </form>
         <div>
             <small>
                 Need an account?<a class="ml-2" href="{% url 'register' %}">Sign Up now</a>
             </small>
         </div>
     </div>
{% endblock content %}








