{% extends "blog/base.html" %}
{% block content %}
    <h4>You have been logged out</h4>
    <div>
        <small>
            <a href="{% url 'login' %}">Login again</a>
        </small>
    </div>

{% endblock content %}








