{% extends "blog/base.html" %}

{% block content %}
     <div>
         <form method = "POST">
             {% csrf_token %}
             <fieldset>
                 <legend>Reset password</legend>
                 {{ form.as_p }}
             </fieldset>
             <div>
                 <button class="btn btn-outline-info" type="submit">Request password reset</button>
             </div>
         </form>
     </div>
{% endblock content %}








