{% extends "blog/base.html" %}

{% block content %}
     <div>
          <div>
               <img src="{{ user.profile.image.url }}" height="142" width="142">
               <div>
                    <h4>{{ user.username }}</h4>
                    <h4        >{{ user.email }}</h4>
               </div>
          </div>
     </div>
    <div class="container">
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Profile Info</legend>
                    {{ u_form.as_p }}
                    {{ p_form.as_p }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit">Update</button>
        </form>
    </div>
    {% for i in blog %}
        <h3><a href="{% url 'post-detail' i.id %}">{{ i.title }}</a></h3>
        <p>{{ i.content  }}</p>
    {% endfor %}


{% endblock content %}








