{% extends "blog/base.html" %}

{% block content %}
     <div>
         <form method = "POST">
             {% csrf_token %}
             <fieldset>
                 <legend>Join</legend>
                 {{ form.as_p }}
             </fieldset>
             <div class="form-group">
                 <button class="btn btn-outline-info" type="submit">Sign Up</button>
             </div>
         </form>
         <div>
             <small class="text-muted">
                 Already have an account?<a href="{% url 'login' %}">Sign In</a>
             </small>
         </div>
     </div>
{% endblock content %}








