 {% extends "blog/base.html" %}
{% block content %}
    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Profile Info</legend>
                {{ u_form.as_p }}
                {{ p_form.as_p }}
            </fieldset>
    </form>
{% endblock content %}
